
*{
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
  height: 100%;
}

body {
  height: 100%;
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  transition: opacity 0.5s ease;
}

body.fade-out{
  opacity: 0;
}

header{
  background-color: rgb(31, 116, 50);
  width: 100%;
  padding: 1rem;
}

main{
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 88, 4, 0.493);
}

.containerIntro{
  background-color: rgba(255, 255, 255, 0.863);
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.container{
  background-color: rgba(255, 255, 255, 0.863);
  width: 100%;
  max-width: 1140px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

h1{
  color: white;
  font-size: 6rem;
  text-align: center;
  margin: 0 auto;
}

h1 a{
  text-decoration: none;
  color: white;
}

h1+p{
  color: white;
  font-size: 3rem;
  text-align: center;
  margin: 0 auto;
}

.containerIntro p{
  max-width: 1140px;
  padding: 2rem;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(15, 54, 23);
  margin: 80px auto 40px auto;
}

.boton{
  display: inline-block;
  background-color: rgb(31, 116, 50);
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 2rem;
  text-decoration: none;
  margin: 3rem;
}

.boton:hover{
  background-color: rgb(15, 54, 23);
}

/*-------------CATEGORIA--------------*/

h2{
 margin: 40px auto;
 font-size: 3rem;
}
.containerGrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 3rem;
  
}

.containerGrid a{
  position: relative;
}

.containerGrid img{
  width: 250px;
  height: auto;
  border-radius: 20px;
}

.containerGrid a:hover{
  transform: scale(1.07);
  transition: transform 0.1s linear;
}

.containerGrid h3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 3rem;
  color: white;
  text-shadow: -1px -1px 3px black,1px -1px 3px black,-1px 1px 3px black,1px 1px 3px black;
}

.locked{
  pointer-events: none;
}


/*------------DETALLE--------------*/

.headerDet{
  position: relative;
}


.headerDet img.detCover{

  width: 100%;
  height: 400px;
  object-fit: cover;
  box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.5);
}

#madridCover{
  object-position: 50% 30%;
}

#parisCover{
  object-position: 50% 80%;
}

.headerDet h2.detTitle{
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-90%);
  text-shadow: -1px -1px 3px black,1px -1px 3px black,-1px 1px 3px black,1px 1px 3px black;
  color: white;
  z-index: 1;
}

.container p{
  font-size: 2rem;
  margin: 3rem;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.gallery img:hover{
  transform: scale(1.07);
  transition: transform 0.1s linear;
}

.video{
  display: flex;
  justify-content: center;
  padding: 0 3rem;
}

iframe{
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
}

ul{
  list-style: none;
  font-size: 2rem;
}

li{
  margin: 1rem 0;
}

li a{
  color: rgb(31, 116, 50);
  font-style: italic;
}

li a:hover{
  color: rgb(15, 54, 23); 
}